fastapi
uvicorn[standard]
httpx
beautifulsoup4
sqlalchemy>=1.4
asyncpg
alembic
pydantic==2.11.9
python-dotenv
langchain==0.3.25
langchain-google-genai==2.1.8
langchain-core==0.3.72
python-multipart
fastapi-utils
